
html, body {
    height: 100%;
    background: black;
    min-height: 680px;
    min-width: 400px;
}

.about-me {
    margin-top: 50px;
    z-index: 4;
}

.about-me > p {
    color: white;
    font-size: 18px;
    width :75%;
    line-height: 1.63636;
    margin-bottom: 1.5rem;
}

.about-me > p > a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
}

.fhc-filter{
    background-color: red;
}

.hero {
    background: url(../images/james_bg.jpeg) top left no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
    z-index: 1;
}

.hero-navigation {
    position: relative;
    top: 90%;
    z-index: 4;
}

.hero-navigation > ul {
    list-style: none;
    padding: 0;
}

.hero-navigation > ul > li {
    display: inline-block;
}

.hero-navigation > ul > li > a {
    background: black;
    border: solid 1px white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    transition: all 0.5s ease;
}

.hero-navigation > ul > li:hover  a {
    background: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hero-wrapper {
    color: #fff;
    left: 30px;
    position: absolute;
    right: 0;
    text-align: left;
    top:-500px;
    z-index: 3;
}

.vertical-align {
    margin-bottom: 5%;
}

/*filters*/

.fhc-filter {
    background-color: rgba(0, 0, 0, 0.9);
}

.contact-filter {
    background-color: rgba(0, 107, 112, 0.7)
}

.resume-filter {
    background-color: rgba(0, 114, 34, 0.7)
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    

    .about-me {
        width: 100%;
    }

    .about-me > p {
        font-size: 40px;
        width: 100%;
    }
    
    .hero-wrapper > h1 {
        font-size: 70px;
    }

    .hero-navigation {
        top: 60%;
    }

    .hero-navigation > ul > li > a {
        font-size: 80px;
        line-height: 150px;
        height: 150px;
        width: 150px;
        margin: 50px;
    }
